:root {
    --accent: yellow;
}

html {
    font-family: "Noto Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 24px;
    background-color: rgba(16, 16, 16, 1);
}

img {
    max-width: 100%;
}

a p {
    color: white;
}

.card {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(52, 52, 52, 0.2);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.left-aligned {
    float: left;
    clear: left;
}

.right-aligned {
    float: right;
    clear: right;
}

.image-container {
    flex: 0 0 30%;
    position: relative;
}

.text-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px;
    width: 100%;
}

.text-content {
    flex: 0 0 65%;
    color: white;
}

.text-content h2 {
    color: white;
    margin-bottom: 5px;
    margin-left: 10px;
}

.text-content h3 {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0;
    margin-left: 10px;
}

nav a {
    padding: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

footer a, p {
    margin: 0 10px;
}

.subtle-link {
    margin: 0;
}
