{% extends "layout.html" %}
{% block content %}
 <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
  <div class="card" style="width: 18rem">
   <img class="card-img-top" src="{{ url_for('static', filename='logo.jpg') }}" alt="Nalluminations Yellow Infinity Logo">
   <div class="card-body">
     <h5 class="card-title">Coming Soon!</h5>
     <p class="card-text">Nalluminations explanation</p>
     <a href="#" class="btn btn-primary">Click here to be notified!</a>
   </div>
  </div>
 </div>
{% endblock content %}
